@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&family=Playfair+Display:ital,wght@0,700;1,400&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 52px 236px 24px 236px;
    display: flex;
    flex-direction: column;
}

.heading-box {
    display: flex;
    flex-direction: column;
}

.heading {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}

.heading-desc-box {
    display: flex;
    flex-direction: row;
    align-items: top;
    margin-top: 12px;
}

.dots-box {
    margin-right: 12px;
}

.heading-desc-text {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4F4F4F;
} 

.main-image-box {
    max-height: 1070px;
    max-width: 1500px;
    margin-top: 43px;

}

.main-image {
    width: 100%;
}

.sub-titles {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}

.recipe-box {
    max-width: max-content;
    margin: 0;
}

.recipe-name {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    margin-top: 32px;
    margin-bottom: 31px;
}

.checkbox {
    width: 21px;
    height: 21px;
    color: rgb(10, 30, 49);
    -webkit-appearance: none;
    background: none;
    border: 1px solid #828282;
    border-radius: 4px;
    background-color: #FFFFFF;
    transition: background 300ms;
    cursor: pointer;
    vertical-align:middle;
    margin-bottom: 5px;
}
  
.checkbox::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
}

.checkbox:checked {
    background-color: currentcolor;
    border: none;
}

.checkbox:checked::before {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

.checkbox-labels {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #333333;
}

.highlight {
    font-weight: bold;
}

#toppings {
    font-style: italic;
}

.ingredients-yields-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 48px;
}

.ingredients-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 28px;
}

.yeilds-box {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 40px;
}

.yields-list {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.list-item {
    list-style: none;
    display: flex;
    margin-bottom: 40px;
    cursor: pointer;
    position: relative;
}

.list-item:nth-child(4) {
    margin-bottom: 0;
}

.list-item-text-box {
    display: flex;
    flex-direction: column;
}

.list-item-text-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #BDBDBD;
    z-index: 2;
}

.list-item-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    min-width: max-content;
    z-index: 2;
    transition: all 0.3s ease;
}

.list-item-icon {
    cursor: pointer;
    width: 28px;
    height: 28px;
    margin-right: 14px;
    transition: all 0.3s ease;
}

.black-filter {
    filter: invert(30%) sepia(0%) saturate(1373%) hue-rotate(142deg) brightness(98%) contrast(89%);
}

.orange-filter {
    filter: invert(63%) sepia(83%) saturate(554%) hue-rotate(328deg) brightness(104%) contrast(90%);
}

.grey-filter {
    filter: invert(78%) sepia(46%) saturate(1%) hue-rotate(53deg) brightness(89%) contrast(92%);;
}

.animation-span {
    position: absolute;
    top: 0;
    left: -40px;
    bottom: 0;
    width: 0;
    background-color: #F2994A;
    transition: all 0.3s ease;
}

.list-item:hover .animation-span {
    width: calc(100% + 80px);
}

.list-item:hover .list-item-text {
    color: white;
}

.list-item:hover .list-item-icon {
    filter: invert(100%) sepia(1%) saturate(7483%) hue-rotate(348deg) brightness(113%) contrast(108%);
}

.instructions-box{
    display: flex;
    flex-direction: column;
}

.instructions-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.instructions {
    counter-increment: step-counter;
    position: relative;
    margin: 30px 0 0 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.instructions::before {
    content: counter(step-counter);
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    left: -50px;
    background-color: #F2994A;
    border-radius: 6px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: white;
}

.source {
    margin-top: 57px;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #BDBDBD;
}

.source a, .source a:visited {
    color: inherit;
}

.end {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    text-align: center;
    margin: 93px 0 24px 0;
}

.end span {
    font-weight: bold;
    text-decoration: underline;
}

@media (max-width: 800px) {
    
    body {
        padding: 32px 12px 0 12px;
    }

    .heading {
        font-size: 24px;
        line-height: 32px;
    }

    .heading-desc-text {
        font-size: 12px;
    line-height: 15px;
    }

    .ingredients-yields-box {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }
    
    .yeilds-box {
        box-shadow: none;
        padding: 24px 0 30px 0;
    }
    
    .yields-list {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
    }
    
    .list-item {
        margin-bottom: 20px;
        margin-right: 40px;
    }

    .list-item:nth-child(4) {
        margin-bottom: 0;
        margin-right: 0;
    }

    .list-item:hover .animation-span {
        width: 0;
    }
    
    .list-item:hover .list-item-text {
        color: initial;
        filter: invert(66%) sepia(23%) saturate(1126%) hue-rotate(345deg) brightness(97%) contrast(96%);
    }
    
    .list-item:hover .list-item-icon {
        filter: invert(66%) sepia(23%) saturate(1126%) hue-rotate(345deg) brightness(97%) contrast(96%);
    }

}

@media (min-width: 801px) and (max-width: 1300px){

    body {
        padding: 20px ;
    }

}